/* Header */

.header {
  display: flex;
  flex-direction: row;
  font-family: Open Sans;
  padding-left: 0px;
  font-size: 16px;
  margin-bottom: 96px;
  font-weight: 500;
}
.header-main {
  cursor: pointer;
  line-height: 1.3em;
  padding-top: 3px;
  font-weight: 500;
}
.header-menu {
  display: block; 
  margin-left: 28px;
  color: #D02500;
  text-decoration: none;
  text-underline-offset: 10px;
}
.header-menu-on {
  text-decoration: underline;
  color: #D02500;
  text-decoration-thickness: 2px;
  font-weight: 500;
  text-underline-offset: 10px;
}
.header-menu-on-lt {
  text-decoration: underline;
  font-weight: 500;
  color:#FF6060;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}
.header-menu-lt {
  display:block; 
  margin-left:28px;
  color: #FF6060;
  text-decoration: none;
  text-underline-offset: 10px;
}

.pull-quote {
  text-align:center; font-size:42px; font-family:Rokkitt; line-height: 1.2em;"
}
.header-medium {
  font-family:Open Sans; font-size:63px; font-weight:900; margin-bottom:55px; line-height: 1.02em; letter-spacing: -0.02em;
}
.header-small {
  font-family:Open Sans; font-size:32px; color:#333; line-height: 1.2em; 
}
.header-xsmall {
  font-family:Open Sans; font-size:18px; color:#000; text-transform: uppercase;
}
.header-chart {
  color: #666; text-align: center;
}
.eyebrow {
  font-family: Open Sans, sans-serif;
  color: #000 !important;
  font-weight: 300;
  margin-top: 38px;
}

/* Navigation */

#side-bar-nav {
  height: 100%;
  position: fixed;
  width: 180px;
  z-index: 11;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 0px;
  border-right: 1px solid #ddd;
  background: #fff;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 1.66em;
  color: #333;
}
.side-nav a {
  color: #333;
  text-decoration: none;
}
.nav-header {
  /*border-bottom: 1px solid #ccc;*/
}
.nav-header a {
  font-weight: 400;
  text-decoration: none;
  color: #333;
}
#menu {
  background: rgba(255, 255, 255, 1.0);
  color:#333;
  position: fixed;
  z-index: 10;
  animation-delay: 0.3s;
  transition: 0.3s;
  top: 22px;
  padding:4px;
  /*border-right:  1px solid #ccc;
  border-top:  1px solid #ccc;
  border-bottom:  1px solid #ccc;*/
  border-radius: 0px 3px 3px 0px; 
  cursor:pointer;
}

.see-more {
  cursor: pointer;
  text-decoration: none;
}
.see-more:hover {
  text-decoration: underline;
}
.see-more-wrapper {
  text-align: right;
}
.see-more-icon {
  font-size: 28; 
  font-weight: 700 !important; 
  vertical-align: bottom; 
  margin-bottom: -1px;
}

/* Cards */

.cards {
  display: grid;
  padding-bottom: 55px;
}
.card {
  color: #333;
  min-height: 4rem;
}
.card-image {
  background: none; 
  padding:0px; 
  overflow-y:hidden;
}
.card-header {
  font-size: 21px; 
  font-family: Open Sans;  
  padding: 16px 0px 16px 0px;
  font-weight: 900;
  text-transform: uppercase !important;
  text-decoration: underline;
  color:#000;
}
.card-header-xsmall { 
  font-size: 18px; 
  font-family: Open Sans;  
  /*padding-left:21px; 
  padding-right:21px;*/
  text-transform: uppercase !important;
}
.card-body {
  line-height:1.5em; 
  font-size:16px;
  /*padding-left:21px; 
  padding-right:21px;*/
}
.card-link-wrapper {
  /*padding-top: 42px;*/
}
.card-link {
  color:#333; 
  font-weight: 900;
}

/* IMAGES */

.caption {
  max-width:600px; 
  margin-top: 8px; 
  margin-left: auto;
  margin-right: auto;
  text-align:center; 
  color:#999; 
  font-size:18px;
  line-height:1.2em;
  font-style: italic;
}

/* ICONS */




