/* Header */

.header {
  margin-bottom:55px;
  display: flex;
  flex-direction: row;
  font-family:Open Sans;
  padding-left: 0px;
}
.header-main {
  cursor: pointer;
}
.header-menu {
  display:block; 
  margin-left:16px;
  color: #333;
  text-decoration: none;
}
.header-menu-on {
  text-decoration: underline;
  font-weight: 900;
  color:#D02500;
  text-decoration-thickness: 3px;
}
.header-menu-on-lt {
  text-decoration: underline;
  font-weight: 900;
  color:#FF6060;
  text-decoration-thickness: 3px;
}
.header-menu-lt {
  display:block; 
  margin-left:16px;
  color: #fff;
  text-decoration: none;
}

/* Navigation */

#side-bar-nav {
  height: 100%;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 0px;
  border-right: 1px solid #ddd;
  background: rgba(255, 255, 255, 1);
  padding-left: 16px;
  padding-right: 16px;
  line-height: 1.66em;
  color: #333;
}
.side-nav a {
  color: #333;
  text-decoration: none;
}
.nav-header a {
  font-weight: 900;
  text-decoration: none;
}
#menu {
  background: rgba(255, 255, 255, 1.0);
  color:#333;
  position: fixed;
  z-index: 10;
  animation-delay: 5.0s;
  transition: 0.5s;
  top: 28;
  padding:4px;
  /*border-right:  1px solid #ccc;
  border-top:  1px solid #ccc;
  border-bottom:  1px solid #ccc;*/
  border-radius: 0px 3px 3px 0px; 
  cursor:pointer;
}

/* Cards */

.cards {
  display: grid;
  padding-bottom: 55px;
}
.card {
  cursor: pointer;
  color: #333;
  min-height: 4rem;
}
.card-image {
  background: #F4F4F4; 
  padding:4px; 
  overflow-y:hidden;
}
.card-header {
  line-height:1.2em; 
  font-size: 18px; 
  font-family: Open Sans;  
  padding: 16px 0px 16px 0px;
  font-weight: 900;
  text-transform: uppercase !important;
}
.card-body {
  padding-top:0px; 
  padding-bottom:0px; 
  line-height:1.5em; 
  font-size:16px;
}
.card-link-wrapper {
  padding-top: 42px;
}
.card-link {
  color:#333; 
  font-weight: 900;
}

/* IMAGES */

.caption {
  max-width:600px; 
  margin: 10px auto 0px auto; 
  text-align:center; 
  color:#999; 
  font-size:14px;
}


