hr.margin-top-medium
div.container
  div.row(style="padding-bottom:16px; padding-top:0px;")
    div.col-md-6.col-sm-6
      a(href="mailto:kgates@gmail.com") kgates@gmail.com 
      | | 
      a(href='https://www.linkedin.com/in/kevingatesproduct') Linkedin 
      | | 
      a(href='resume.txt') Resume 
   