hr.margin-top-lg
div.container
  div.row(style="padding-bottom:46px; padding-top:10px;")
    div.col-md-6.col-sm-6
      a(href="mailto:kgates@gmail.com") kgates@gmail.com 
      | | 
      a(href='resume.txt') Resume 
   