hr.margin-top-lg
div.container
  div.row(style="padding-bottom:46px; padding-top:10px;")
    div.col-md-6.col-sm-6(style="color:#999; font-weight: 400;")
        //-
        a(href="mailto:kgates@gmail.com", style="color:#999; font-weight: 400;") kgates@gmail.com 
        | | 
        a(href='resume.txt', style="color:#999; font-weight: 400") resume 
   