doctype html
meta(name="viewport", content="width=device-width, initial-scale=1")
html
  head
    link(href="css/bootstrap.min.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,500,700', rel='stylesheet', type='text/css')
    title Kevin Gates Portfolio
  body
    div.container
      div.row
        div.col-md-12
          div.header-05.margin-top-medium(style="font-size:24px; margin-top:60px;")
            | Kevin Gates 
            br
            span(style="font-weight: 400") Product design portfolio
            div.margin-top-xsm.small-02(style="font-size:14px; font-weight:400;")
              a(href='linkedin.com') Resume | 
              span 
              a(href='linkedin.com') Linkedin


      div.row
        div.col-md-12.header-04.margin-top-medium
          | I bring a diverse set of skills to product design: ideation, research, wireframing, prototyping, project management, data visualization, and programming. I've worked for Google, R/GA, and Obama for America.

      div.row.margin-top-lg
        div.col-md-6
          div.header-01
            | Obama for America: Project Atlas
          div.margin-top-sm
            | An app designed to make President Obama's accomplishments engaging and relevant to voters at a local level
          
          div.margin-top-medium-sm(style="clear:both;")
            a(type="button", href="obama.html").btn.btn-default.btn-lg.view-project View project
        div.col-md-6
          img(src='images/obama/concept_03.png').img-responsive

      div.row.margin-top-xlg
        div.col-md-6
          div.header-01
            div Rx 
            div Treatment
            div Flow
          div.margin-top-sm
            | A data visualization tool, generated entirely with patient data, for exploring a longitudinal view of diabetes treatments
          
          div.margin-top-medium-sm(style="clear:both;")
            a(type="button", href="treatment.html").btn.btn-default.btn-lg.view-project View project
        div.col-md-6
          img(src='images/rx/tree_traversal.gif').img-responsive

      div.row.margin-top-xlg
        div.col-md-6
          div.header-01
            div Seeing 
            div the
            div Air
          div.margin-top-sm
            | A winning entry in a data visualization competition sponsored by Swissnex, Gray Area and Lift
          
          div.margin-top-sm(style="clear:both;")
            button(type="button").btn.btn-default.btn-lg.view-project View project
        div.col-md-6
          img(src='images/seeingtheair/area.png').img-responsive

      div.row.margin-top-xlg
        div.col-md-6

















        