/*

*/

html, body {
font-family: 'Roboto', sans-serif;
font-size: 12pt;
margin:0px !important;
padding:0px !important;
  max-width: 100%;
  overflow-x: hidden;
}

h4 {
	font-weight: 700;
	font-size: 1em;
	color: #494949 !important;
}

.lg-text {
	font-weight: 200;
	font-size: 2.62em;
	line-height: 1.3;
	color: #666 !important;
}

.bold-5 {
	font-weight: 900;
	color: #494949;
	text-transform: uppercase;
	line-height: 1.3 !important;
}

.light {
	font-weight: 700;
	color: #fff !important;
	padding-bottom: 8px;
}

/* Rules for sizing the icon. */

.material-icons.md-32  { font-size: 32px; color:#000; }
.material-icons.md-48  { font-size: 48px; color:#000; }
.material-icons.md-72  { font-size: 72px; color:#000; }
.material-icons.md-104 { font-size: 104px; color:#000; }
.material-icons.md-152 { font-size: 152px; color:#000; }

.p-xl {
	padding-top: 120px;
	padding-bottom: 120px;
}

.full-width {
  margin-left: -1em;
  margin-right: -1em;
}

.gray-bg {
  background-color:#eee;
  padding: 1.5em 1em 1.5em 1em;
  margin-left: -25px;
  margin-right: -25px;
  /*padding-left: 50px;
  padding-right: 50px;*/
  overflow-x: hidden;
}

.section-card-header {
	font-size: 1.62em; 
	line-height: 1.1; 
	font-weight: 700;
	color: #666; /*#CC5B4C !important;*/
}

.bg-light-gray {
  background-color: #eee;
  margin-left: -25px;
  margin-right: -25px;
  padding-left: 25px;
  padding-right: 25px;
  overflow-x: hidden;
}

.bg-dark-gray {
  background-color: #333;
  margin-left: -25px;
  margin-right: -25px;
  padding-left: 25px;
  padding-right: 25px;
  overflow-x: hidden;
}

.text-medium-light {
	color:#aaa !important;
}

.text-light {
	color:#ccc !important;
}

.text-extra-light {
	color:#eee !important;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
  overflow-x:hidden !important;
}

.container-fluid-content-01 {
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 1em;
  padding-right: 1em;
  overflow-x: hidden !important;
}

.container-fluid-content-02 {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1em;
  padding-right: 1em;
 	overflow-x: hidden;
}

.nav-header {
	font-size: 1em;
	font-weight: 700;
	color:#CC5B4C;
	padding-bottom:0px;
}
.nav-subheader {
	font-size: 1em;
	font-weight: 300;
	color:#CC5B4C;
	padding-bottom:4px;
}

.top-nav {
	font-size: 1em;
	font-weight: 300;
	color:#CC5B4C;
	text-decoration: none;
	cursor: pointer;
	padding-left: 20px !important;
	margin-top: 0px !important;
	white-space: nowrap;
}

.side-nav {
	font-size: 1 em;
	font-weight: 300;
	color:#ccc;
	text-decoration: none;
	cursor: pointer;
	padding-left: 0px !important;
	margin-top: 0px !important;
	white-space: nowrap;
}

#main-body-cont {
	transition: 0.3s;
}

.text-center {
	text-align: center;
}

a { text-decoration: none; }


.top-nav a:link    { color: #CC5B4C; }
.top-nav a:visited { color: #CC5B4C; }
.top-nav a:hover   { color: #CC5B4C; }
.top-nav a:active  { color: #CC5B4C; }

.side-nav a:link    { color: #ccc; }
.side-nav a:visited { color: #ccc; }
.side-nav a:hover   { color: #ccc; }
.side-nav a:active  { color: #ccc; }

.link-light a:link    { color: #CC5B4C !important; text-decoration: underline; }
.link-light a:visited { color: #CC5B4C !important; text-decoration: underline; }
.link-light a:hover   { color: #CC5B4C !important; text-decoration: underline; }
.link-light a:active  { color: #CC5B4C !important; text-decoration: underline; }

.url-link {
	color: #0872D3 !important;
	text-decoration: underline !important;
}


.top-nav-on {
	font-weight: 700;
	padding-bottom:4px;
	border-bottom: 3px solid #CC5B4C;
	margin-bottom: 30px;
}

.header {
	font-size: 1em;
	font-weight: 500;
	color:#CC5B4C;
}

.section-header {
	font-size: 1.0em;
	font-weight: 400;
	color:#CC5B4C;
	border-top: 1px solid #ccc
}

.section-header-no-border {
	font-size: 1.0em;
	font-weight: 400;
	color:#CC5B4C;
}

.headline-center-heavy {
	margin:130px 0px 50px 0px;
	font-size: 4.24em;
	font-weight: 900;
	color:#222;
	line-height:1.1;
	text-align: center;
}

.headline-heavy {
	font-size: 4.24em;
	font-weight: 900;
	color: #494949;
	line-height:1.1;
}

.headline-medium {
	font-size: 2.62em;
	font-weight: 700;
	color:#575757;
	line-height:1.1;
}

.headline-small {
	font-size: 1.62em;
	font-weight: 500;
	color: #555; /*#627484; #575757;*/
	line-height:1.2;
}

.headline-light {
	/*margin:120px 30px 120px 30px;*/
	font-size: 1.62em;
	font-weight: 400;
	color:#666;
	line-height:1.2;
}

.ideogram-sm {
	height:100px;
}

.ideogram-md {
	height:130px;
}

.bg-medium {
	background-color: #F3F3F3;
}

.regular-lg {
	line-height: 1.62em;
	color:#000;
	/*font-size: 0.66em
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;*/
}

.regular-md {
	line-height: 1.7em
	font-size: 0.66em
}

p.center-lg {
	margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  line-height: 1.62em;
  font-weight: 400;
  text-align: center;
}

.pullquote {
	color: #CC5B4C;  /*#627484;*/
	font-family: 'Lora', 'Garamund', serif;
	font-size: 1.62em;
	line-height: 1.5em;
	font-weight: 500;
	text-align: center;

}

.pullquote-light {
	color: #eee;  /*#627484;*/
	font-family: 'Lora', 'Garamund', serif;
	font-size: 1.62em;
	line-height: 1.5em;
	font-weight: 500;
	text-align: center;

}

.gunmetal-light {
	color: #DAECFC;
}

.highlight {
	background-color: yellow;
}

.pullquote:before, .pullquote:after {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  background-color: #627484;
}

.pullquote:before, .pullquote:after {
    margin: 1.125rem auto;
}

.caption {
	font-size: 1em;
	font-weight: 300;
	/*font-family: 'Lora', 'Garamund', serif;*/
	font-style: italic;
	color:#333;
	line-height:1.3;
	text-align: center;
	max-width:600px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.credit {
	font-size: 1em;
	font-weight: 300;
	/*font-family: 'Lora', 'Garamund', serif;*/
	font-style: italic;
	color:#999;
	line-height:1.3;
	max-width:600px;
}

.round-button {
	background-color: #444; 
	color:white !important; 
	font-size: 1em; 
	display:block;
	width: 250px !important;
	text-align: center;
	padding: 8px 0px 8px 0px; 
	border-radius: 25px;
}

.circle-arrow {
	width:50px; 
	height:50px; 
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
	color:#fff; 
	border-radius: 50px; 
	text-align: center;
	float:right;
	margin-right:0px;
	font-size: 43px;
	font-weight: 800;
}


.large-button {
	width: 100% !important;
	background-color: #CC5B4C; 
	color:white !important; 
	 
	font-size: 1em; 
	border-radius: 45px;
}

.mark .highlight {
	background: none; /*#ffee88;*/
}

.card-image {
	display: flex !important;
}

@media screen and (max-width: 768px) {
  .card-image {
    display: none !important;
  }

  .headshot {
    display: none !important;
  }

  .headline-center-heavy {
		font-size: 2.62em;
	}

	#main-body-cont {
    margin-left: 0px !important;
  }

  #side-bar-nav {
  	width: 0px !important;
  	/*position:  abolute !important;*/
  }

  #menu-toggle {
  	margin-left: 0px !important;
  }
}


@media screen and (min-width: 768px) {
  .card-image {
    display: flex !important;
  }

  .headshot {
    display: block !important;
  }

  .headline-center-heavy {
		font-size: 4.25em;
	}

	.headline-heavy {
		font-size: 4.25em;
	}
}

@media screen and (max-width: 1200px) {
  
}

@media screen and (min-width: 1200px) {
 
}







