body {
	font-family: 'Roboto', sans-serif;
	font-size: 18pt;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px; /* or 950px */
}

.nav-header {
	font-size: 0.66em;
	font-weight: 500;
	color:#D26D6A;
}

.header {
	font-weight: 500;
	color:#D26D6A;
	padding-bottom:12px;
}

.top-nav {
	font-size: 0.66em;
	font-weight: 400;
	color:#D26D6A;
	margin-left:20px;
	
}

.top-nav-on {
	font-weight: 500;
	padding-bottom:4px;
	border-bottom: 3px solid #D26D6A;
}

.headline-light {
	margin:140px 0px 150px 0px;
	font-size: 1.5em;
	font-weight: 400;
	color:#444;
	line-height:1.33;
}

.bg-medium {
	background-color: #F3F3F3;
}