div(style="background:#ddd; padding-bottom:0px;")
  div.container
    div.row(style="background:#ddd; padding-bottom:16px; padding-top:16px;")
      div.col-md-6.col-sm-6
        div.header-05
          a(href="index.html") Kevin Gates
          span(style="font-weight: 400") 
            a(href="index.html") Product Design Portfolio

      div.col-md-6.col-sm-6.nav-right
        //-
        a(href="mailto:kgates@gmail.com") kgates@gmail.com 
        | | 
        a(href='https://www.linkedin.com/in/kevingatesproduct') Linkedin 
        | | 
        a(href='resume.txt') Resume 
   