div.row
  div.col-md-6
    div.header-05.margin-top-sm(style="font-size:18px;")
      a(href="index.html") Kevin Gates
      span(style="font-weight: 400") 
        | | 
        a(href="index.html") Product design portfolio

  div.col-md-6.margin-top-sm.small-02(style="text-align:right; font-size:18px;")
    a(href='linkedin.com') Resume | 
    span 
      a(href='linkedin.com') Linkedin