div.row
  div.col-md-6
    div.header-05.margin-top-sm(style="font-size:18px;")
      a(href="index.html") Kevin Gates
      span(style="font-weight: 400") 
        | | 
        a(href="index.html") Product design portfolio

  div.col-md-6.margin-top-sm.small-02(style="text-align:right; font-size:18px;")
    a(href="index.html") (415) 503-7993 
    | | 
    a(href='https://www.linkedin.com/in/kevingatesproduct') Linkedin 
    | | 
    a(href='resume.txt') Resume 