div(style="background:#fff; border-bottom:1px solid #ddd;")
  div.container
    div.row(style="padding-bottom:86px; padding-top:86px;")
      div.col-md-6.col-sm-6
        div.header-05
          a(href="index.html", style="color:#cc0000; font-weight: bold") Kevin Gates 
          a(href="index.html", style="color:#333; font-weight: 400") Product Design Portfolio

      div.col-md-6.col-sm-6.nav-right(style="color:#999; font-weight: 400;")
        //-
        a(href="mailto:kgates@gmail.com", style="color:#999; font-weight: 400;") kgates@gmail.com 
        //- | | 
        //- a(href='resume.txt', style="color:#999; font-weight: 400") resume 